@charset "UTF-8";
/* Laptop Medium: 1150px to 1300px */
@media screen and (min-width: 1150px) and (max-width: 1300px){
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 35px;
    }

    .section-1__image {
        width: 400px;
        height: 450px;
    }
    

    .categorie {
        min-width: 210px;
        min-height: 210px;
        width: 210px;
        height: 210px;
    }

    .categorie > img {
        width: 100px;
        height: 100px;
    }

    .section-4 {
        gap: 115px;
    }
    
    .section-4__image {
        width: 388.749px;
        height: 471px;
    }
    
    .box-services {
        min-width: 210px;
        width: 210px;
        min-height: 210px;
        height: 210px;
    }
}

/* Laptop Small: 1000px to 1150px */
@media screen and (max-width: 1150px){
    h1 {
        line-height: 50px;
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 21px;
        font-weight: 600;
    }

    h5 {
        font-size: 19px;
    }

    .description-paragraph {
        font-size: 18px;
    }

    .description-paragraph--smaller {
        font-size: 16px;
    }

    header {
        padding: 39px 100px;
    }

    .logo {
        width: 80px;
        height: 33px;
    }

    .icons {
        width: 25px;
        height: 25px;
        cursor: pointer;
    } 

    .icons--contact-phone {
        width: 18px;
        height: 18px;
    }

    .main__buttons {
        width: 160px;
        height: 50px; 
        font-size: 18px;
    }

    .section {
        padding: 140px 100px 0px;
    }

    /* section 1 */
    .section-1 {
        padding-top: 0px;
    }

    .section-1__buttons-container > p {
        font-size: 18px;
    }

    .section-1__play-button > img {
        height: 18px;
        width: 18px;
    }

    .section-1__image { 
        width: 400px;
        height: 450px;
    }

    /* section 2 */
    .categorie {
        min-width: 190px;
        min-height: 190px;
        width: 190px;
        height: 190px;
    }

    .categorie > img {
        width: 90px;
        height: 90px;
    }

    .categorie > p {
        font-size: 15px;
    }

    /* section 3 */
    .menu {
        width: 230px;
        height: 300px;
    }

    .menu > img {
        width: 120px;
        height: 120px;
    }

    .menu > p {
        font-size: 15px;
    }

    .price {
        width: 63px;
        height: 63px;
    }

    .stars {
        width: 48px;
        height: 48px;
    }

    /* section 4 */
    .section-4 {
        gap: 80px;
    }
    .section-4__image {
        width: 358.749px;
        height: 441px;
    }

    .feedback-container > img {
        width: 165px;
        height: 75px;
    }

    /* section 5 */
    .box-services {
        min-width: 190px;
        width: 190px;
        min-height: 190px;
        height: 190px;
    }

    .box-services > img {
        width: 40px;
        height: 40px;
    }

    .box-services > h4 {
        font-size: 16px;
    }

    .box-services > p {
        font-size: 14px;
    }

    /* footer */
    footer {
        padding: 140px 100px 30px;
    }

    .footer__copyright {
        gap: 100px;
    }

    .footer__copyright > p {
        font-size: 16px;
    }
}

/* Mobile Large: 860px to 999px */
@media screen and (max-width: 999px){
    h1 {
        line-height: 50px;
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    h4 { 
        font-size: 19px;
    }

    h5 {  
        font-size: 15px;
    }

    .description-paragraph {
        font-size: 18px;
    }

    .description-paragraph--smaller {  
        font-size: 13px;
    }

    header {
        padding: 39px 70px;
    }

    .logo {
        width: 80px;
        height: 33px;
    }

    .header__navigation-list {
        min-width: 330px;
    }

    .header__navigation-list > li > a {
        font-size: 15px;
    }

    .icons {
        width: 22px;
        height: 22px;
    } 

    .icons--contact-phone {
        width: 16px;
        height: 16px;
    }

    .main__buttons {
        width: 160px;
        height: 50px; 
        font-size: 18px;
    }

    .section {
        padding: 140px 70px 0px;
    }

    /* section 1 */
    .section-1 {
        padding-top: 0px;
    }

    .section-1__buttons-container > p {
        font-size: 18px;
    }

    .section-1__play-button > img {
        height: 18px;
        width: 18px;
    }

    .section-1__image { 
        width: 290px;
        height: 330px;
    }

    /* section 2 */
    .categorie { 
        min-width: 160px;
        min-height: 160px;
        width: 160px;
        height: 160px;
    }

    .categorie > img {
        width: 70px;
        height: 70px;
    }

    .categorie > p { 
        font-size: 14px;
    }

    /* section 3 */
    .menu { 
        width: 210px;
        height: 280px;
    }

    .menu > img {
        width: 120px;
        height: 120px;
    }

    .menu > p { 
        font-size: 14px;
    }

    .price { 
        width: 53px;
        height: 53px;
    }

    .stars {
        width: 38px;
        height: 38px;
    }

    /* section 4 */
    .section-4 {
        gap: 80px;
    }
    .section-4__image {  
        width: 318.749px;
        height: 401px;
    }

    .feedback-container > img { 
        width: 135px;
        height: 55px;
    }

    /* section 5 */
    .section-5__services-container { 
        grid-gap: 15px;
    }   
    .box-services { 
        min-width: 170px;
        min-height: 170px;
    }

    .box-services > img { 
        width: 30px;
        height: 30px;
    }

    .box-services > h4 { 
        font-size: 16px;
    }

    .box-services > p { 
        font-size: 14px;
    }

    /* footer */
    footer {
        padding: 140px 70px 30px;
    }

    .foodi-container > p {
        font-size: 16px;
    }

    .footer__copyright {
        gap: 100px;
    }

    .footer__copyright > p {
        font-size: 16px;
    }
    
}

/* Mobile: Smartphones and tablets */
@media screen and (max-width: 859px) {  
    /* MENU MOBILE */
    /*     .nav-mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 15px;
        width: 100vw;
    }
    
    .header__navigation-list--mobile {
        display: flex;
        flex-direction: column;
    }
    
    .btnMenu-close {
        background-color: #39DB4A;
    }
 */
    .logo {
     max-width: 75px;
     max-height: 33px;
    }

    header {
        padding: 10px 20px; 
    }

    .header__navigation-list {
        display: none;
    }
    
    .icons {
        display: none;
    }
    
    .button:hover {
        transform: scale(106%);
    }
    
    .contact__button {
        height: 40px;
        gap: 10px;
    }
    
    .icons--contact-phone {
        width: 18px;
        height: 18px;
    }
    
    h1 {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 0px;
    }
    
    h2 {
        font-size: 34px;
        text-align: center;
    }

    h3 {
        font-size: 17px;
        text-align: center;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 20px;
    }

    .description-paragraph {
        font-size: 19px;
        line-height: 30px;
        margin-top: 40px;
        text-align: center;
    }

    .description-paragraph--smaller {
        font-size: 16px;
    }
    
    .main__buttons {
        width: 140px;
        height: 50px;
        font-size: 18px; 
    }
    
    .section {
        padding: 110px 20px 0px;
    }

    /* section 1 */
    .section-1 {
        padding-top: 50px;
        justify-content: center;
    }

    .section-1 > div {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-1__buttons-container > p {
        font-size: 18px;
    }
    
    .section-1__play-button > img {
        height: 19px;
        width: 19px;
    }
    
    .section-1__image {
        display: none;
    }
    
    /* section 2 */
    .section-2__categories-container {
        flex-direction: column;
        justify-content: center;
        gap: 70px;
    }
    
    .categorie {
        width: 270px;
        height: 270px;
    }
    
    .categorie > img {
        width: 163px;
        height: 163px;
    }
    
    .categorie > p {
        font-size: 18px;
    }
    
    /* section 3 */
    .section-3__container--title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .section-3-arrows--grey, .section-3-arrows--green {
        display: none;
    }
    
    .section-3__container--menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    
    .menu {
        width: 270px;
        height: 400px;
    }
    
    .menu > img {
        width: 210px;
        height: 210px;
    }
    
    .menu > p {
        font-size: 18px;
    }
    
    .price {
        width: 73px;
        height: 73px;
    }
    
    .stars {
        width: 58px;
        height: 58px;
    }

    /* section 4 */
    .section-4 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .section-4__image {
        display: none;
    }
    
    .feedback-container {
        justify-content: center;
    }
    
    .feedback-container > img {
        width: 115px;
        height: 65px;
    }
    
    /* section 5 */
    .section-5 {
        flex-direction: column; 
        align-items: center;
    }
    
    .section-5__culinary-journey-container > a {
        margin: 40px auto 60px;
    }

    .section-5__services-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 70px;
    }
    
    .box-services {
        width: 270px;
        height: 270px;
    }
    
    .box-services > img {
        width: 90px;
        height: 90px;
    }
    
    .box-services > h4 {
        font-size: 25px;
    }
    .box-services > p {
        font-size: 18px;
    }

    /* footer */
    footer {
        padding: 110px 20px 0px;
    }
    
    .footer__blocks {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    
    .foodi-container {
        width: calc(100vw-20px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .blocks-container {
        text-align: center;
        margin-top: 20px;
    }
    
    .blocks-container-text {
        font-size: 20px;
    }  

    .blocks-container > h5 {
        font-size: 25px;
    }
    
    .footer__copyright {
        position: static;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .footer__copyright > p {
        font-size: 13px;
        text-align: center;
    }
    
    .social-media-list {
        position: static;
    }
    
    .social-media {
        width: 53px;
        height: 53px;
    }
    
    .social-media > a > img {
        width: 24px;
        height: 24px;
    }
}