@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --green: #39DB4A;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FCFCFC;
}

h1 > span {
    color: var(--green);
}

.h1__inicio {
    font-weight: 800;
    line-height: 70px;
    font-size: 50px;
    margin-bottom: 50px;
}

.h1__outrasSections {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

h2 {
    text-transform: uppercase;
    color: #FF6868;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 28px;
}

h3 {
    font-size: 23px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
}

p {
    color: #555555;
    font-size: 20px;
    line-height: 30px;
}

header {
    height: 600px;
    background-color: #FCFCFC;
    font-family: 'Poppins', sans-serif;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px 120px 26px 120px;
}

.logo {
    width: 90px;
    height: 90px;
}

.header__navigation-list {
    width: 450px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.header__navigation-list > li > a {
    color: black;
}

.header__navigation-list > li > a > img{
    margin-left: 7px;
    height: 8px;
}

.header__navigation-list > li > a:hover {
    color: var(--green);
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
} 

.icon--search {
    margin-top: 7px;
}

.button {
    color: white;
    background-color: var(--green);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    transform: scale(106%);
}

.header__button {
    font-weight: 500;
    width: fit-content;
    padding: 0px 15px;
    height: 45px;
    gap: 10px;
}

.icon--phone {
    width: 18px;
    height: 18px;
}

.section-1 {
    height: 600px;
    margin: 0px 120px 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1 > div > p {
    font-weight: 600;
}

.section-1__div--buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.main__button {
    font-size: 19px;
    font-weight: 500;
    width: 170px;
    height: 60px; 
}

.section-1__div--buttons > p {
    font-size: 19px;
    font-weight: 700;
}

.section-1__play-button {
    background-color: #fff;
    width: 20px;
    height: 20px; 
    padding: 20px;
    border-radius: 100%;
    box-shadow: 6px 27px 34px rgba(0, 0, 0, 0.10);

}

.section-1__play-button > img {
    height: 22px;
    width: 22px;
}

.section-1__image {
    height: 550px;
    width: 500px;
}

.section-2 {
    height: 500px;
    margin: 60px 120px 0px 120px;
    text-align: center;
}

.section-2__categories-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-categorie {
    background-color: #fff;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.div-categorie > img {
    width: 123px;
    height: 123px;
}

.div-categorie > h3 {
    margin-top: 10px;
}

.div-categorie > p {
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
}

.section-3 {
    height: 600px;
    margin: 60px 120px 0px 120px;
}

.section-3__container--title {
    width: 100%;
    height: 110px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.section-3-arrows {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.section-3-arrows > a > img {
    width: 17px;
    height: 17px;
}

.section-3-arrows--grey {
    background-color: #EFEFEF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-arrows--green {
    background-color: var(--green);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3__container--menu {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 290px;
    height: 400px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 2px 9px 42px 0px rgba(0, 0, 0, 0.08);
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu > img {
    width: 210px;
    height: 210px;
    margin: auto;
}

.menu > h3 {
    margin-top: 10px;
}

.menu > p {
    font-size: 19px;
    font-weight: 600;
    margin-top: 5px;
}

.menu__price-and-stars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    width: 73px;
    height: 73px;
}

.stars {
    width: 58px;
    height: 58px;
}

.section-4 {
    height: fit-content;
    margin: 60px 110px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 155px;

}

.section-4__image {
    width: 488.749px;
    height: 571px;
    margin-left: 30px;
}

.section-4__testimonials-container > h2 {
    margin: 80px 0px 40px 0px;
}

.section-4__testimonials-container > p {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.feedback-container {
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 25px;
    margin: 40px 0px 0px 0px;
}

.feedback-container > img {
    width: 165px;
    height: 75px;
}

.reviews {
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 10px;
    margin: -10px 0px 0px 0px;
}

.reviews > p {
    font-weight: 500;
    font-size: 18px;
}

.section-5 {
    height: 600px;
    margin: 0px 120px 0px 120px;
    display: flex;
}

.section-5__culinary-journey-container > p {
    font-weight: 500;
    margin-bottom: 35px;
}

.section-5__services-container {

}

.box-services {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 7px 12px 43px 0px rgba(0, 0, 0, 0.14);  
    width: 210px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.box-services > img {
    width: 50px;
    height: 50px;
}

.box-services > p {
    color: #90BD95;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    text-align: center;
}