@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --green: #39DB4A;
    --h3-color: #FF6868;
    --white: #FFF;
    --links: #000;
    --background-color: #FCFCFC;
    --paragraph-color: #555555;
    --text-services: #90BD95;
    --title-sevices: #5FE26C;
    --background-arrows: #EFEFEF;
    --background-social-media: #EDFFEF;
}

body, html {
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 800;
    line-height: 60px;
    font-size: 50px;
    margin-bottom: 30px;
}

.h1--green {
    color: var(--green);
}

h2 {
    font-weight: 700;
    font-size: 45px;
}

h3 {
    text-transform: uppercase;
    color: var(--h3-color);
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 30px;
}

h4 {
    font-size: 23px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
}

p {
    color: var(--paragraph-color);
    font-weight: 500;
}

.description-paragraph {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}

.description-paragraph--smaller {
    font-size: 18px;
}

header {
    background-color: var(--background-color); 
    font-family: 'Poppins', sans-serif;
    height: fit-content;
    width: 100%;
    max-width: 1600px;
    padding: 39px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 80px;
    height: 33px;
}

/* menu mobile */
/* .nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
} */
/* menu mobile */

.header__navigation-list {
    width: fit-content;
    height: fit-content;
    min-width: 450px;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.header__navigation-list > li > a {
    font-size: 17px;
    color: var(--links);
}

.header__navigation-list > li > a > img {
    margin-left: 7px;
    height: 8px;
}

.header__navigation-list > li > a:hover {
    color: var(--green);
}

.header__buttons-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;
}

.icons {
    width: 25px;
    height: 25px;
    cursor: pointer;
} 

.icons--search {
    margin-top: 7px;
}

.button {
    color: var(--white);
    background-color: var(--green);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    transform: scale(106%);
}

.contact__button {
    font-weight: 500;
    width: fit-content;
    padding: 0px 15px;
    height: 45px;
    gap: 10px;
}

.icons--contact-phone {
    width: 18px;
    height: 18px;
}

.section {
    width: 100%;
    max-width: 1600px;
    height: fit-content;
    padding: 140px 120px 0px; 
}

.section-1 {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1__buttons-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main__buttons {
    width: 170px;
    height: 60px; 
    font-size: 19px;
    font-weight: 500;
    margin-top: 40px;
}

.section-1__buttons-container > p {
    font-size: 19px;
    font-weight: 700;
    margin-top: 40px;
}

.section-1__play-button {
    background-color: var(--white);
    width: fit-content;
    height: fit-content; 
    padding: 20px;
    margin-top: 40px;
    border-radius: 100%;
    box-shadow: 6px 27px 34px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1__play-button > img {
    height: 19px;
    width: 19px;
}

.section-1__image {
    width: 500px;
    height: 550px;
}

.section-2 {
    text-align: center;
}

.section-2__categories-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.categorie {
    background-color: var(--white);
    min-width: 250px;
    width: 250px;
    min-height: 250px;
    height: 250px;
    border-radius: 40px;
    box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.categorie > img {
    width: 123px;
    height: 123px;
}

.categorie > h4 {
    margin-top: 10px;
}

.categorie > p {
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
}

.section-3__container--title {
    display: flex;
    justify-content: space-between;
}

.section-3-arrows {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.section-3-arrows > a > img {
    width: 17px;
    height: 17px;
}

.section-3-arrows--grey, .section-3-arrows--green {
    background-color: var(--background-arrows);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-arrows--green {
    background-color: var(--green);
}

.section-3__container--menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.menu {
    width: 290px;
    height: 400px;
    background-color: var(--white);
    border-radius: 40px;
    box-shadow: 2px 9px 42px 0px rgba(0, 0, 0, 0.08);
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu > img {
    width: 210px;
    height: 210px;
    margin: auto;
}

.menu > p {
    font-size: 19px;
    font-weight: 600;
    margin-top: 5px;
}

.menu__price-and-stars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    width: 73px;
    height: 73px;
}

.stars {
    width: 58px;
    height: 58px;
}

.section-4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 155px;

}

.section-4__image {
    width: 488.749px;
    height: 571px;
    margin-left: 30px;
}

.feedback-container {
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
}

.feedback-container > img {
    width: 165px;
    height: 75px;
}

.reviews {
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
}

.section-5 {
    display: flex;
    justify-content: space-between;
}

.section-5__culinary-journey-container {
    width: fit-content;
    height: fit-content;
}

.section-5__services-container {
    width: fit-content; 
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
}

.box-services {
    border-radius: 30px;
    background: var(--white);
    box-shadow: 7px 12px 43px 0px rgba(0, 0, 0, 0.14);  
    min-width: 212px;
    width: 212px;
    min-height: 225px;
    height: 225px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.box-services > img {
    width: 50px;
    height: 50px;
}

.box-services > h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--title-sevices);
    text-transform: uppercase;
}
.box-services > p {
    color: var(--text-services);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

footer {
    height: fit-content;
    width: 100%;
    max-width: 1600px;
    padding: 140px 120px 30px;
}

.footer__blocks {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.foodi-container {
    width: 250px;
}

.foodi-container > p {
    margin-top: 10px;
    line-height: 30px;
}

.blocks-container > ol > li {
    margin-top: 20px;
}

.blocks-container-text {
    color: var(--paragraph-color);
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
}

a.blocks-container-text:hover {
    color: var(--green);
}    

.footer__copyright {
    height: fit-content;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 50px;
}

.footer__copyright > p {
    font-size: 18px;
}

.social-media-list {
    position: absolute;
    left: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-media {
    background-color: var(--background-social-media);
    width: 43px;
    height: 43px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media:hover {
    transform: scale(107%);
}

.selected {
    background-color: var(--green);
}

.social-media > a > img {
    width: 22px;
    height: 22px;
}
